.cabecalho_menu{
    height: 24px;
    width: 24px;
    background-image: url(menu.png);
    display: inline-block;
}

.cabecalho{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.logojdm{
    height: 50px;
    width: 50px;
    display: inline-block;
}