.cabecalho_menu{
    height: 24px;
    width: 24px;
    display: inline-block;
}

.cabecalho{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.container{
    height: 24px;
    width: 24px;
    align-items: center;
}