body{
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    padding: 20px;
    position: 0;
    top: 0;
    left: 0;
    right: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
    display: flex;
}


.favoritos,
.perfil{
    margin-left: 10px;
}